
        .container {
            display: grid;
            grid-template-columns:repeat(8,80px);
            grid-template-rows: repeat(8,80px);
            margin: 20px;

        }
        .white {
            background-color: wheat;
        }
        .black {
            background-color: black;
        }